.card{
    width: 80%;
    height: auto;
    margin: 1rem auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(#6166b3, #17d7a0);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.card > img{
    margin: 5px auto;
    width: 50%;
    border-radius: 50%;
    object-fit: cover;
}
.card > h2{
    text-align: center;
    color: #fff;
}
.card > h3{
    color: black;
    text-align: center;
    margin: .75rem;
}
.card > ul   {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.card > ul > div > li {
    color: #38A3A5;
    margin-bottom: 1rem;
}
li{
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
}
li>span {
    text-align: center;
}
Link{
    text-decoration: none;
}
@media (min-width:1024px){
    .card{
        width:24%;
        
    }
    ul{
        margin-left: 10px;   
    }
  
    
}
